body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.box {
	width:300px; height:500px; overflow:auto; border:1px solid #000;
}

.box_button {
	width:300px; height:200px; border:1px solid #000;
}